@model WebUI.ViewModels.Requests.IT.Equipments.EquipmentInstallationDetailsRequestViewModel
@using WebUI.Models.Enum
@{
    ViewBag.Title = "Заявка на установку оборудования";
    Layout = "~/Views/Shared/Cerulean/_DashboardLayout.cshtml";
}



<div class="container footer">
    <h2 class="display-4 text-center text-dark mt-3 mb-3">@ViewBag.Title</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Model.RequestModel.ServiceModel.BranchModel.Fullname</li>
        <li class="breadcrumb-item">@Model.RequestModel.ServiceModel.CategoryModel.Name</li>
        <li class="breadcrumb-item">@Model.RequestModel.ServiceModel.Name</li>
        <li class="breadcrumb-item active">Просмотр заявки</li>
    </ol>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3 bg-white">
                <h3 class="card-header bg-primary text-white">@Model.RequestModel.Title</h3>
                <div class="card-body">
                    <h5 class="card-title text-dark">Заявка на установку оборудования</h5>
                    <h6 class="card-subtitle text-muted ml-auto">@Model.RequestModel.Client.SubdivisionModel.Fullname</h6>
                </div>
                <div class="card-body bg-white text-dark">
                    <p class="card-text">@Model.RequestModel.Justification</p>

                    @{ if (!string.IsNullOrWhiteSpace(Model.RequestModel.Description))
                        {
                            <p class="card-text">@Model.RequestModel.Description</p>
                        }
                    }
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-white text-dark">
                        <span class="font-weight-bold ">@Html.LabelFor(model => model.RequestModel.StatusModel):</span>
                        <span class="ml-1">@Model.RequestModel.StatusModel.Fullname</span>
                    </li>
                    <li class="list-group-item bg-white text-dark">
                        <span class="font-weight-bold">@Html.LabelFor(model => model.RequestModel.PriorityModel):</span>
                        <span class="ml-1">@Model.RequestModel.PriorityModel.Fullname</span>
                    </li>
                    <li class="list-group-item bg-white text-dark">
                        <span class="font-weight-bold">@Html.LabelFor(model => model.RequestModel.CampusModel):</span>
                        <span class="ml-1">@Model.RequestModel.CampusModel.Name</span>
                    </li>
                    <li class="list-group-item bg-white text-dark">
                        <span class="font-weight-bold">@Html.LabelFor(model => model.RequestModel.Location):</span>
                        <span class="ml-1">@Model.RequestModel.Location</span>
                    </li>
                    <li class="list-group-item bg-white text-dark">
                        <span class="font-weight-bold">@Html.LabelFor(model => model.RequestModel.Installations):</span>

                        <table class="table">
                            <thead class="table-primary">
                                <tr>
                                    <td class="font-weight-bolder">Наименование</td>
                                    <td class="font-weight-bolder">Количество</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RequestModel.Installations)
                                {
                                    <tr>
                                        <td>@item.EquipmentTypeModel.Name</td>
                                        <td>@item.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-flex align-content-start flex-wrap">
                        @if (Model.UserPermissions.ApprovalAllowed && Model.RequestModel.StatusId == (int)RequestStatus.Approval && Model.RequestModel.ServiceModel.ApprovalRequired)
                        {
                            <a href="@Url.Action("AgreeRequest","EquipmentInstallationRequest",new { Area = "IT", id=Model.RequestModel.Id })" class="btn btn-success flex-grow-1 mr-1 mb-1">Согласовать</a>
                            <a href="@Url.Action("RejectRequest","EquipmentInstallationRequest",new { Area = "IT", id=Model.RequestModel.Id })" class="btn btn-warning flex-grow-1 mr-1 mb-1">Отклонить</a>
                        }
                        else if (Model.UserPermissions.GetInWorkRequest && Model.AllApproval && Model.RequestModel.StatusId == (int)RequestStatus.Open)
                        {
                            <a href="@Url.Action("GetInWork","EquipmentInstallationRequest",new { Area = "IT", id=Model.RequestModel.Id })" class="btn btn-success flex-grow-1 mr-1 mb-1">Принять к исполнению</a>
                        }
                        else if ((Model.UserPermissions.EditRequest || Model.UserPermissions.DeleteRequest) && (Model.RequestModel.StatusId == (int)RequestStatus.Open || Model.RequestModel.StatusId == (int)RequestStatus.Approval))
                        {
                            <a href="@Url.Action("Edit","EquipmentInstallationRequest",new { Area = "IT", id = Model.RequestModel.Id })" class="btn btn-primary mr-1 mb-1">
                                <i class="fa fa-edit"></i>
                                <span class="ml-1">Редактировать</span>
                            </a>
                            <a href="@Url.Action("Delete","EquipmentInstallationRequest",new { Area = "IT", id = Model.RequestModel.Id })" class="btn btn-danger ml-auto mr-1 mb-1">
                                <i class="fa fa-trash"></i>
                            </a>
                        }
                        else if (Model.UserPermissions.GetInWorkRequest && Model.RequestModel.StatusId == (int)RequestStatus.InWork)
                        {
                            <a href="@Url.Action("DoneWork","EquipmentInstallationRequest",new { Area = "IT", id=Model.RequestModel.Id })" class="btn btn-success flex-grow-1 mr-1 mb-1">Выполнена</a>
                        }

                        else if (Model.RequestModel.StatusId == (int)RequestStatus.Closed || Model.RequestModel.StatusId == (int)RequestStatus.Done)
                        {
                            <a href="@Url.Action("Archive","EquipmentInstallationRequest",new { Area = "IT", id=Model.RequestModel.Id })" class="btn btn-success flex-grow-1 mr-1 mb-1">В архив</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3 class="card-header bg-primary text-white">Жизненный цикл заявки</h3>
            <div class="list-group">
                @foreach (var lifeCycle in Model.LifeCyclesListModel)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-white text-dark">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@lifeCycle.Message</h5>
                            <small>@lifeCycle.Date.ToString()</small>
                        </div>
                        <i class="fa fa-user"></i>
                        <small>@lifeCycle.Employee.Fullname</small>
                    </a>
                }
            </div>
            @using (Html.BeginForm("AddMessage", "EquipmentInstallationRequest", new { id = Model.RequestModel.Id }, FormMethod.Post))
            {
                <div class="d-flex mt-1">
                    <div class="flex-grow-1 form-group mr-1">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите комментарий", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <div class="ml-auto form-group">
                        <input type="submit" value="Отправить" class="btn btn-primary w-100" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>



