@model WebUI.ViewModels.CategoryModel.CategoriesListViewModel

@{
    ViewBag.Title = "Категории заявок";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2 class="text-center display-4 my-3 text-dark">@ViewBag.Title</h2>

<div class="d-flex">
    <div class="align-self-center">
        @Html.ActionLink("Новая запись", "Create", null, new { @class = "btn btn-success" })
    </div>
    <div class="flex-grow-1 align-self-center ml-1">
        @using (Html.BeginForm("Index", "Category", new { search = Model.Search, branch = Model.SelectedBranch }, FormMethod.Get, new { @class = "input-group", role = "form" }))
        {
            @Html.DropDownListFor(model=>model.SelectedBranch, Model.Branches,"Выберите отрасль заявки", htmlAttributes: new { @class = "form-control w-75  ml-1" })
            @Html.TextBox("search", Model.Search as string, new { @class = "form-control ml-1", @placeholder = "Поиск категории заявки", @autocomplete = "off" })
            <div class="input-group-append">
                <input type="submit" value="Поиск" class="btn btn-info" />
            </div>
        }
    </div>
</div>

@Html.Partial("CategoriesCardView")

