@model WebUI.ViewModels.ExecutorGroupMembers.ExecutorGroupMembersListViewModel

@{
    ViewBag.Title = "Группа исполнителей";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2 class="text-center display-4 my-3 text-dark">@Model.ExecutorGroupModel.Name</h2>
<div class="row m-1">
    <h4 class="mt-5 text-dark">Состав группы исполнителей</h4>
    <hr />
    <table id="tblSubdivisionExecutors" class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th class="d-none"></th>
                <th class="d-none"></th>
                <th class="w-50">Должность</th>
                <th class="w-50">ФИО Сотрудника</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="bg-light">
            @foreach (var item in Model.ExecutorGroupMemberModel)
            {
                <tr>
                    <td>@Html.TextBoxFor(modelItem => item.EmployeeModel.Post, new { @class = "form-control tblItem bg-light border-0", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(modelItem => item.EmployeeModel.Fullname, new { @class = "form-control tblItem bg-light border-0", @readonly = "readonly" })</td>
                    <td>
                        <a class="btn btn-danger w-100" href="@Url.Action("DeleteExecutor","ExecutorGroup",new { Area = "ControlPanel", employeeId = item.EmployeeId, executorGroupId = Model.ExecutorGroupModel.Id })">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.ExecutorGroupModel.Id, new { id = "currentExecutorGroup" })
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.SelectedSubdivision, Model.Subdivisions, "Выберите подразделение", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.SelectedExecutor, Model.Executors, "Выберите сотрудника", new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Добавить" class="btn btn-info w-100" />
                    </td>
                </tr>
            }
        </tfoot>
    </table>
</div>

@section scripts
    {
    <script>
        var subdivisionsUrl = '@Url.Action("PopulateExecutors", "ExecutorGroup")';
        var subdivisions = $('#SelectedSubdivision');
        var executors = $('#SelectedExecutor');
        var currentSubdivision = $('#currentExecutorGroup');
        console.log(currentSubdivision.val());
        $('#SelectedSubdivision').change(function () {
            executors.empty();
            $.getJSON(subdivisionsUrl, { subdivisionId: $(this).val(), currentId: currentSubdivision.val() }, function (data) {
                if (!data) { return; }
                executors.append($('<option></option>').val('').text('Выберите сотрудника'));
                $.each(data, function (index, item) {
                    executors.append($('<option></option>').val(item.Value).text(item.Text));
                });
            });
        })
    </script>
}