@model WebUI.ViewModels.Employee.EmployeesListViewModel

@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2 class="text-center display-4 my-3 text-dark">@ViewBag.Title</h2>

<div class="d-flex">
    <div class="align-self-center">
        @Html.ActionLink("Новая запись", "Create", null, new { @class = "btn btn-success text-nowrap" })
    </div>
    <div class="flex-grow-1 align-self-center ml-1">
        @using (Html.BeginForm("Index", "Employee", new { search = Model.Search, subdivision = Model.SelectedSubdivision }, FormMethod.Get, new { @class = "input-group", role = "form" }))
        {
            @Html.DropDownListFor(model=>model.SelectedSubdivision, Model.Subdivisions, "Выберите подразделение", new { @class = "form-control mr-1" })
            @Html.TextBox("search", Model.Search as string, new { @class = "form-control mr-1", @placeholder = "Поиск подразделения", @autocomplete = "off" })
            <div class="input-group-append">
                <input type="submit" value="Поиск" class="btn btn-info" />
            </div>
        }
    </div>
</div>

@Html.Partial("EmployeeCardView")

