@model WebUI.ViewModels.Requests.IT.Events.VideoCommunicationRequestViewModel
@{
    ViewBag.Title = "Заявка на проведение видеосвязи";
    Layout = "~/Views/Shared/Cerulean/_DashboardLayout.cshtml";
}


<script src="~/Scripts/fullcalendar/fcalendar.js"></script>



<div class="container footer">

    <h2 class="display-4 text-center text-dark mt-3 mb-3">@ViewBag.Title</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("ChooseCategory","Dashboard",new { Area = "", branchId = Model.ServiceModel.BranchModel.Id })">@Model.ServiceModel.BranchModel.Fullname</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("ChooseService","Dashboard", new { Area = "", categoryId = Model.ServiceModel.CategoryModel.Id })">@Model.ServiceModel.CategoryModel.Name</a>
        </li>
        <li class="breadcrumb-item">
            <span class="text-primary">@Model.ServiceModel.Name</span>
        </li>
        <li class="breadcrumb-item active">Регистрация заявки</li>
    </ol>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Внимание!</h4>
            <p class="mb-0">@ViewBag.Error</p>
        </div>
    }

    <div id="calendar"></div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="addModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Регистрация мероприятия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="modal-body">

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="form-group col-12">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", Name = "Model.Title", placeholder = "Введите заголовок заявки (Пример: Проведение видеоконференции)", autocomplete = "off" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12">
                                    @Html.LabelFor(model => model.Justification, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.EditorFor(model => model.Justification, new { htmlAttributes = new { @class = "form-control", Name = "Model.Justification", placeholder = "Опишите необходимость заявки", @rows = 4 } })
                                    @Html.ValidationMessageFor(model => model.Justification, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", Name = "Model.Description", placeholder = "Введите дополнительную информацию о заявке", @rows = 4 } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.PriorityModel, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.DropDownListFor(model => model.PriorityId, Model.Priorities, htmlAttributes: new { @class = "form-control", Name = "Model.PriorityId" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.CampusModel, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.DropDownListFor(model => model.CampusId, Model.Campuses, htmlAttributes: new { @class = "form-control", Name = "Model.CampusId" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", Name = "Model.Location", placeholder = "Введите номер аудитории", autocomplete = "off" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.StartDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { htmlAttributes = new { @class = "form-control", Name = "Model.StartDate", autocomplete = "off", type = "datetime-local" } })
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-12 text-dark" })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", Name = "Model.EndDate", autocomplete = "off", type = "datetime-local" } })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title"> </h5>
                    <label class="hide" id="eventId"></label>
                </div>
                <div class="modal-body">
                    <h6 id="description"></h6>
                    <div class="row">
                        <div class="col-md-4">
                            <label id="location"></label>
                        </div>
                        <div class="col-md-4">
                            <label id="start"></label>
                        </div>
                        <div class="col-md-4">
                            <label id="end"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="OpenDetails();">Подробнее</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
