@model WebUI.ViewModels.Subdivision.SubdivisionsListViewModel
@using WebUI.HtmlHelpers

@foreach (var item in Model.Subdivisions)
{
    <div class="card mt-1">
        <div class="card-body bg-white text-dark">
            <h4 class="card-title text-shadow-none text-dark">Наименование подразделения: @item.Fullname</h4>
            <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark">Сокращенное наименование: @item.Shortname</p>
            <a href="@Url.Action("Edit","Subdivision",new { id = item.Id })" class="card-link text-dark">
                <i class="fa fa-edit"></i>
                <span class="ml-1">Редактировать</span>
            </a>
            <a href="@Url.Action("Delete","Subdivision",new { id = item.Id })" class="card-link text-danger">
                <i class="fa fa-trash"></i>
                <span class="ml-1">Удалить</span>
            </a>
        </div>
    </div>
}

<div class="my-1">        
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Subdivisions", new { search = Model.Search, page = x }))
</div>