@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/sd.css" rel="stylesheet" />
    <link href="~/Content/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section id="content-wrapper">
        <div class="wrapper">
            <div class="d-flex toggled" id="wrapper">
                @Html.Partial("Cerulean/_DashboardMenu")
                <div id="page-content-wrapper" class="bg-light">
                    @Html.Partial("Cerulean/_DashboardNavBar")
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/servicedesk/menu-toggle.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/datepicker-ru.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

