@model WebUI.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Изменение пароля учетной записи";
    Layout = "~/Views/Shared/_ServiceDeskLayout.cshtml";
}
<section id="loginForm" class="d-flex align-items-start min-vh-100 text-center">
    <div class="container">
        <img src="~/Content/Images/gerb.png" id="gerb-icon" />
        <h1 class="display-2 text-center">Service Desk</h1>
        <hr class="my-3 bg-light">
        <h6 class="text-center my-3">Пожалуйста, заполните поля для изменения пароля учетной записи</h6>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container text-left">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.AccountId)
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 my-1">
                        <div class="form-group">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите старый пароль учетной записи", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-6 my-1">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите новый пароль учетной записи", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-6 my-1">
                        <div class="form-group">
                            @Html.EditorFor(model => model.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите новый пароль учетной записи еще раз", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.RepeatNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="form-group col-6 text-center">
                        <input type="submit" value="Сменить пароль" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        }
    </div>

</section>

