@model WebUI.ViewModels.Equipment.EquipmentsListViewModel

@{
    ViewBag.Title = "Оборудование";
    Layout = "~/Areas/Admin/Views/Shared/_cPanelLayout.cshtml";
}

<h2 class="text-center display-4 my-3 text-white">Оборудование</h2>
<div class="d-flex">
    <div class="align-self-center">
        @Html.ActionLink("Добавить оборудование", "AddEquipment", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Просмотр типов оборудования", "EquipmentTypes", "EquipmentType", null, new { @class = "btn btn-success" })
    </div>
    <div class="flex-grow-1 align-self-center">
        @using (Html.BeginForm("Equipments", "Equipment", new { search = Model.Search, equipmentType = Model.EquipmentTypeId }, FormMethod.Get, new { @class = "input-group", role = "form" }))
        {
            @Html.DropDownList("equipmentType", new SelectList(ViewBag.EquipmentTypes, "Id", "Name"), htmlAttributes: new { @class = "form-control ml-1" })
            @Html.TextBox("search", Model.Search as string, new { @class = "form-control ml-1", @placeholder = "Поиск оборудования", @autocomplete = "off" })
            <div class="input-group-append">
                <input type="submit" value="Поиск" class="btn btn-info" />
            </div>
        }
    </div>
</div>
@Html.Partial("EquipmentsCardView")

