<!-- Sidebar -->
<div class="bg-primary" id="sidebar-wrapper">
    <h2 class="text-white text-center mt-2">Service Desk</h2>
    <div class="list-group list-group-flush mt-4">
        <h6 class="text-center">Категории работ</h6>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fa fa-hdd"></i>
                <span class="ml-3 w-100">Оборудование</span>
                <span class="badge badge-warning flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fa fa-wifi"></i>
                <span class="ml-3 w-100">ЛВС и Интернет</span>
                <span class="badge badge-success flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fa fa-envelope-open"></i>
                <span class="ml-3 w-100">Электронная почта</span>
                <span class="badge badge-success flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fa fa-phone"></i>
                <span class="ml-3 w-100">Связь</span>
                <span class="badge badge-success flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fa fa-users"></i>
                <span class="ml-3 w-100">Учетные записи</span>
                <span class="badge badge-success flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-primary border-dark">
            <div class="d-flex align-items-center">
                <i class="fas fa-keyboard"></i>
                <span class="ml-3 w-100">Программное обеспечение</span>
                <span class="badge badge-success flex-shrink-1 @(1==0?"d-none":"d-inline") px-2 ml-1 text-primary">1</span>
            </div>
        </a>
    </div>
</div>
