<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex">

    <button class="btn btn-primary" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </button>
    @if (ViewBag.CanAddRequest)
    {
        <a class="btn btn-outline-success ml-1 mr-auto" href="@Url.Action("ChooseBranch","Dashboard",new { Area = "" })">
            <i class="fas fa-file-medical"></i>
            <span class="ml-1">Добавить заявку</span>
        </a>
    }

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Dashboard",new { Area = "" })">
                    <i class="fa fa-desktop"></i>
                    <span class="ml-1">Рабочий стол</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Requests","Dashboard", new { Area = "" })">
                    <i class="fa fa-list"></i>
                    <span class="ml-1">Каталог заявок</span>
                </a>
            </li>

            @if (ViewBag.AccessToControlPanel)
            {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Desk",new { Area = "ControlPanel" })">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span class="ml-1">Панель управления</span>
                </a>
            </li>
            }

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="ml-1">@ViewBag.ActiveUser</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Редактировать профиль</a>
                    <a class="dropdown-item" href="#">Руководство пользователя</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Logout","ServiceDesk",new { Area = "" })">Выйти из системы</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
