@model WebUI.ViewModels.ServiceModel.ServicesListViewModel
@using WebUI.HtmlHelpers


    @foreach (var item in Model.Services)
    {
    <div class="card mb-1 bg-white box-shadow mt-1">
        <h4 class="card-title text-shadow-none text-dark ml-3 mt-3">@item.Name</h4>
        <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark ml-3">Область: @item.BranchModel.Fullname</p>

        @if (item.Visible)
        {
            <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark ml-3">Заявка активна</p>
        }
        @if (item.ApprovalRequired)
        {
            <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark ml-3">Данный тип заявки требует согласования</p>
        }
        else if (item.ManyApprovalRequired)
        {
            <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark ml-3">Данный тип заявки требует согласования нескольких лиц</p>
        }

        <div class="card-body mx-3 mb-3 p-0">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("ServicesExecutorGroups","Service",new { Area="ControlPanel", id = item.Id })" class="btn btn-sm btn-warning">Группы исполнителей</a>
                    <a href="@Url.Action("ServiceApprovers","Service",new { Area="ControlPanel", id = item.Id })" class="btn btn-sm btn-warning">Сотрудники, утверждающие заявку</a>
                    <a href="@Url.Action("Edit","Service",new { Area="ControlPanel", id = item.Id })" class="btn btn-sm btn-secondary">Редактировать</a>
                </div>
                <small class="text-muted">
                    <a href="@Url.Action("Delete","Service",new { Area="ControlPanel", id = item.Id })" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash mr-1"></i>
                        Удалить
                    </a>
                </small>
            </div>
        </div>
    </div>
    }
    <div class="my-1">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { search = Model.Search, page = x }))
    </div>



