@model WebUI.ViewModels.Employee.EmployeesListViewModel
@using WebUI.HtmlHelpers

@foreach (var item in Model.Employees)
{
    <div class="card mt-1">
        <div class="card-body">
            <h4 class="card-title text-white">ФИО Сотрудника: @item.Fullname</h4>
            <h6 class="card-subtitle mb-2 text-muted">Подразделение: @item.SubdivisionModel.Fullname</h6>
            <h6 class="card-subtitle mb-2 text-muted">Должность сотрудника: @item.Post</h6>
            <a href="@Url.Action("EditEmployee","Employee",new { id = item.Id })" class="card-link">
                <i class="fa fa-edit"></i>
                <span class="ml-1">Редактировать</span>
            </a>
            <a href="@Url.Action("DeleteEmployee","Employee",new { id = item.Id })" class="card-link text-danger">
                <i class="fa fa-trash"></i>
                <span class="ml-1">Удалить</span>
            </a>
        </div>
    </div>
}

<div class="my-1">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Subdivisions", new { search = Model.Search, page = x }))
</div>
